DJANGO_SECRET_KEY=change-me-in-prod-please-32-bytes-min
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,web

POSTGRES_DB=unison
POSTGRES_USER=unison
POSTGRES_PASSWORD=unison
POSTGRES_HOST=db
POSTGRES_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=unison-media
MINIO_ENDPOINT=http://minio:9000
MINIO_PUBLIC_ENDPOINT=http://localhost:9100
MINIO_REGION=us-east-1
